.table {
    border-radius: 8px 8px 8px 8px; 
    width:945px;
    border-bottom: 1px solid gainboro;
    margin-bottom: 0;
    font-size: 14px;
 }      

.table thead {
    vertical-align: bottom;
    height: 40px;
}

.table thead th {
	border-top: transparent;
	max-width: 200px;
    text-align: center; 
    color: black;
    font-weight: 400;
    background-color: wheat;
    font-size: 16px;
}

.table tbody {
	border-bottom: 0.5px solid gainsboro;
}

.table tbody tr th {
    text-align: center;
    color: steelblue;
    border-left:0.5px solid gainsboro;
    font-size: 16px;
}

.table th{
	vertical-align: middle;
}

.table td {
   	vertical-align: middle;
	max-width: 200px;
	text-align: center;
}

.last-col {
    border-right: 1px solid gainsboro;
}

.bi-book {
    color:goldenrod;
    font-size: 18px;
}      
      